.workWithMeContainer {
	margin: 4em 0 13em 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 5em;

	h1 {
		text-align: center;
		width: 100%;
	}

	.steps {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 1em;
		position: relative;
	}

	.separator {
		position: absolute;
		height: 100%;
		width: 1px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			height: 100%;
			overflow: visible;
		}
	}
}

@media (max-width: 768px) {
	.workWithMeContainer {
		align-items: start;

		.steps {
			gap: 3em;
		}

		.separator {
			left: 0;
			svg {
				width: 5px;
			}
		}
	}
}
