@import '../../../styles/variables.scss';

.footer {
	width: 100%;
	display: flex;
	align-items: start;

	justify-content: space-between;
	padding: 2em 0 2em 0;

	.content {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 0.5em;
		max-width: 40%;

		span {
			font-size: 1rem;
		}
	}

	.content:first-child {
		.socialMedia {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 1em;

			a {
				font-size: 1.5rem;
			}
		}
	}
	.content:last-child {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: start;
		text-align: right;
	}
}

.nombre {
	color: $color-4;
}

@media (max-width: 640px) {
	.footer {
		.content {
			gap: 1.5em;
		}
	}
}

@media (max-width: 475px) {
	.footer {
		align-items: center;
		justify-self: center;
		flex-direction: column;
		gap: 1.5em;

		.content {
			max-width: 100%;
			span {
				width: 100%;
				text-align: center;
			}
		}
		.content:first-child {
			.socialMedia {
				width: 100%;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
