.star {
	position: absolute;
	bottom: 100px;
	fill: white;
	width: 20px;
	height: 20px;
}

$total: 100;
@for $i from 1 through $total {
	$scale: random(2) - 0.4;

	.star:nth-child(#{$i}) {
		left: random(120) * 1% - 20;
		transform: scale($scale);

		animation: raise#{$i} 6 + random(15) + s linear infinite;
		animation-delay: random(5) - 5 + s;

		z-index: 1;
	}

	@keyframes raise#{$i} {
		to {
			bottom: 150vh;
			transform: scale(0.3);
		}
	}
}
