.aboutMe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	min-height: 600px;
	gap: 3em;
	margin: 4em 0 4em 0;

	div {
		width: 50%;
	}

	.image {
		display: flex;
		justify-content: start;
		align-items: center;

		img {
			max-width: 300px;
			z-index: 1;
			border-radius: 50%;
			filter: contrast(1.15);
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 1em;

		h1 {
			text-align: start;
		}

		p {
			max-width: 40ch;
			text-align: start;
			text-wrap: balance;
		}
	}
}

@media (max-width: 640px) {
	.aboutMe {
		flex-direction: column;
		align-items: center;

		div {
			width: 100%;
		}

		.image {
			justify-content: center;

			img {
				max-width: 200px;
			}
		}

		.content {
			align-items: center;
			p {
				text-align: center;
			}
		}
	}
}
