.aboutMeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	min-height: 600px;

	margin: 4em 0 4em 0;

	.aboutMe {
		width: 50%;
		display: flex;
		gap: 4em;
		flex-direction: column;
	}

	.image {
		display: flex;
		justify-content: start;
		align-items: center;
		position: relative;
		max-width: 300px;

		.orbit {
			position: absolute;
			width: 350px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: visible;
		}

		img {
			max-width: 300px;
			z-index: 1;
			border-radius: 50%;
			filter: contrast(1.15);
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 1em;

		h1 {
			text-align: start;
		}

		p {
			max-width: 40ch;
			text-align: start;
			text-wrap: balance;
		}
	}
}

@media (max-width: 640px) {
	.aboutMeContainer {
		flex-direction: column;
		align-items: center;

		.aboutMe {
			width: 100%;
			justify-content: center;
			align-items: center;
		}

		.image {
			justify-content: center;

			.orbit {
				width: 250px;
			}

			img {
				max-width: 200px;
			}
		}

		.content {
			align-items: center;

			p {
				text-align: center;
			}
		}
	}
}
