@import '../../../styles/variables.scss';

.navBarContainer {
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em 0;
	z-index: 999;
	position: fixed;
}

.navBar {
	width: 100%;
	display: flex;
	z-index: 97;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2em;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		text-transform: uppercase;
		cursor: pointer;

		li {
			list-style: none;
			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				font-weight: 500;
			}
		}
	}
}
