@import '../../../styles/variables.scss';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 100px);
	max-height: 1000px;
	position: relative;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		height: 80%;
		width: 50%;
		transform: translateY(-150px);
		gap: 0.5em;
		z-index: 3;

		span {
			font-size: 1.3rem;
		}

		p {
			max-width: 50ch;
		}

		div {
			display: flex;
			align-items: center;
			gap: 1em;

			a {
				svg {
					font-size: 1.5rem;
				}
			}
		}
	}

	.image {
		width: 50%;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;

		img {
			max-width: 100%;
			transform: scaleX(-1) rotate(-60deg);
			user-select: none;
		}
	}

	.planet {
		position: absolute;
		z-index: 2;
		width: 1500px;
		bottom: -500px;
		left: -60%;
		user-select: none;
		rotate: -10deg;
		z-index: 2;
	}
}

@media (max-width: 1280px) {
	.wrapper {
		.planet {
			width: 1200px;
			bottom: -300px;
		}
	}
}

@media (max-width: 1024px) {
	.wrapper {
		.planet {
			width: 900px;
			bottom: -250px;
		}
	}
}

@media (max-width: 768px) {
	.wrapper {
		.planet {
			width: 800px;
			bottom: -200px;
		}
	}
}

@media (max-width: 640px) {
	.wrapper {
		.planet {
			width: 700px;
			bottom: -150px;
		}
	}
}

@media (max-width: 475px) {
	.wrapper {
		.image {
			align-items: start;
			padding-top: 5em;
		}
		.planet {
			bottom: -70px;
			left: -70%;
		}
	}
}

@media (max-width: 320px) {
	.wrapper {
		flex-direction: column;

		.content {
			align-items: start;
			justify-content: start;
			width: 100%;
			transform: none;
			flex-shrink: 10;
			justify-content: center;

			h1 {
				font-size: 2rem;
			}
			p {
				font-size: 0.8rem;
			}
		}
		.image {
			align-items: start;
			width: 100%;
		}
		.planet {
			width: 500px;
			bottom: -100px;
		}
	}
}
